<h1>Adnat</h1>

<h2>Log In</h2>

<%= form_for(:sessions, url: login_path) do |form| %>
    <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %><br>

    </div>
  
    <div>
      <%= form.label "Password" %><br>
      <%= form.password_field :pass %><br>
      </div>

    <div>
    <%= form.submit "Login", class: "btn-submit" %>
  </div>
<% end %>

<%= link_to "Sign Up", new_user_path %> 