<h1>Adnat</h1>

<h2>Reset your password</h2>

<%= form_for(:users, url: reset_update_path) do |form| %>
    <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %><br>

    </div>
  
    <div>
      <%= form.label "New Password" %><br>
      <%= form.password_field :newpass %><br>
      </div>

    <div>
    <%= form.submit "Reset", class: "btn-submit" %>
  </div>
<% end %>

<p> 
<%= link_to "Log In", root_path %> 
</p> <br>

<%= link_to "Sign Up", new_user_path %>  <br>
