<h1>Adnat</h1>

Logged in as <%= @user.name %>

<%= link_to "Log Out", logout_path, method: "delete" %>  | 
<%= link_to "Settings", home_settings_path, method: "get" %> <br>

<b> <h2> <%= @organization.name %> </h2> </b> <%= link_to "Back", user_shifts_path(@user), method: "get" %> <br><br><br>

<b> Edit Shifts </b> <br> <br>

<%= form_for(@shift, url: user_shift_path(@user, id: @shift.id), method: "patch") do |form| %>

<table border="1">
<thead>
<tr>
<th rowspan=2> Employee name </th> <th rowspan=2> Shift date </th> <th rowspan=2> Start Time </th> 
<th rowspan=2> End Time </th> <th rowspan=2> Break length (minutes) </th>
<th rowspan=2> Submit </th> 
</tr>
</thead>

<tbody>
<tr>
    <td>
    <% @shift_user = User.find(@shift.user_id) %>
      <%= @shift_user.name%>
    </td>
    <td>
      <%= form.date_select :start, {
        order: [:month, :day, :year],
        date_separator: "/",
        prompt: {
            month: 'mm',
            day: 'dd',
            year: 'yyyy',
        },
     } %>
    </td>
    <td>
      <%= form.time_field :start %>
    </td>
    <td>
      <%= form.time_field :finish %>
    </td>
    <td>
      <%= form.number_field :break %>
    </td>
    <td>
      <%= form.submit "Update Shift"%>
    </td>

</tr>
</tbody>
</table>

<% end %>