<h1>Adnat</h1>

Logged in as <%= @user.name %>

<%= link_to "Log Out", logout_path, method: "delete" %> <br>

<b> <h2> <%= @organization.name %> </h2> </b>

<b> Shifts </b> <br> <br>

<table border="1">
<thead>
<tr>
<th rowspan=2> Employee name </th> <th rowspan=2> Shift date </th> <th rowspan=2> Start Time </th> 
<th rowspan=2> End Time </th> <th rowspan=2> Break length (minutes) </th>
<th rowspan=2> Hours worked</th> <th rowspan=2> Shift cost </th>
</tr>
</thead>

<tbody>
<% @organization.shifts.each do |shift| %>
<tr>
  <td>
  <%= User.find(shift.user_id).name %>
  </td> 
  <td>
    <%= shift.date %>
  </td>

  <td>
    <%= shift.start %>
  </td>
  <td>
    <%= shift.end %>
  </td>
  <td>
    <%= shift.break %>
  </td>
</tr>
<% end %>


</tbody>
</table>

<br><br><br>

<b> Create New Shift </b> <br> <br>

<%= form_with model: [ @organization, @organization.shifts.build ] do |form| %>

<table border="1">
<thead>
<tr>
<th rowspan=2> Employee name </th> <th rowspan=2> Shift date </th> <th rowspan=2> Start Time </th> 
<th rowspan=2> End Time </th> <th rowspan=2> Break length (minutes) </th>
<th rowspan=2> Submit </th> 
</tr>
</thead>

<tbody>
<tr>
    <td>
      <%= @user.name%>
    </td>
    <td>
      <%= form.text_field :date, "data-provide" => 'datepicker' %>
    </td>
    <td>
      <%= form.text_field :start %>
    </td>
    <td>
      <%= form.text_field :end %>
    </td>
    <td>
      <%= form.number_field :break %>
    </td>
    <td>
      <%= form.submit "Create Shift"%>
    </td>

</tr>
</tbody>
</table>

<% end %>