<h1>Adnat</h1>

Logged in as <%= @user.name %>

<%= link_to "Log Out", logout_path, method: "delete" %>  | 
<%= link_to "Settings", home_settings_path, method: "get" %> <br>

<b> <h2> <%= @organization.name %> </h2> </b> <%= link_to "Back", '/home', method: "get" %> <br><br><br>

<b> Filter shifts by employee: </b> <br> 
<%= form_with url: employee_filter_path, method: "get" do |form| %>
  <%= form.select :name,
  options_for_select(
      @users.all.pluck(:name)
    ) 
    %>

    <%= form.submit "Filter"%>
  <% end %>
  
  <br><br>

<b> Shifts </b>    |  <%= link_to "View Previous Employee's Shifts", view_departed_path, method: "get" %> <br><br> <br>

<table border="1">
<thead>
<tr>
<th rowspan=2> Employee name </th> <th rowspan=2> Shift date </th> <th rowspan=2> Start Time </th> 
<th rowspan=2> End Time </th> <th rowspan=2> Break length (minutes) </th>
<th rowspan=2> Hours worked</th> <th rowspan=2> Shift cost </th>
</tr>
</thead>

<tbody>
<% @shifts_sort.each do |shift| %>
  <% unless shift.departed? %>
<tr>
  <td>
  <%= User.find(shift.user_id).name %>
  </td> 
  <td>
    <%= shift.start.strftime("%m/%d/%Y") %>
  </td>

  <td>
    <%= @start = shift.start.strftime('%I:%M %p') %>
  </td>
  <td>
    <%= @end = shift.finish.strftime('%I:%M %p') %>
  </td>
  <td>
    <%= shift.break %>
  </td>
  <td>
    <% if shift.overnight %>
    <% @hours_worked = 24 - (((Time.parse(@end).to_i - Time.parse(@start).to_i).fdiv(3600)) - ((shift.break).fdiv(60))).abs %>
    <% else %>
    <% @hours_worked = (((Time.parse(@end).to_i - Time.parse(@start).to_i).fdiv(3600)) - ((shift.break).fdiv(60))).abs %>
    <% end %>
    <%= @hours_worked %>
  </td>
  <td>
    $ <%= @hours_worked * @organization.rate %>
  </td>
  <td>
  <%= link_to "Edit", edit_user_shift_path(@user, id: shift.id), method: "get" %> </td> 
  <td> 
<%= link_to "Delete", user_shift_path(@user, id: shift.id), method: "delete" %> </td>
</tr>
<% end %>
<% end %>


</tbody>
</table>

<br><br><br>

<b> Create New Shift </b> <br> <br>

<%= form_with model: [ @user, @user.shifts.build ] do |form| %>

<table border="1">
<thead>
<tr>
<th rowspan=2> Employee name </th> <th rowspan=2> Shift date </th> <th rowspan=2> Start Time </th> 
<th rowspan=2> End Time </th> <th rowspan=2> Break length (minutes) </th>
<th rowspan=2> Submit </th> 
</tr>
</thead>

<tbody>
<tr>
    <td>
      <%= @user.name%>
    </td>
    <td>
      <%= form.date_select :date, {
        order: [:month, :day, :year],
        date_separator: "/",
        prompt: {
            month: 'mm',
            day: 'dd',
            year: 'yyyy',
        },
     } %>
    </td>
    <td>
      <%= form.time_field :start %>
    </td>
    <td>
      <%= form.time_field :end %>
    </td>
    <td>
      <%= form.number_field :break %>
    </td>
    <td>
      <%= form.submit "Create Shift"%>
    </td>

</tr>
</tbody>
</table>

<% end %>