<h1>Adnat</h1>

Logged in as <%= @user.name %>

<%= link_to "Log Out", logout_path, method: "delete" %>  | 
<%= link_to "Settings", home_settings_path, method: "get" %> <br>

<h2>Edit Organisation</h2>



<%= form_with model: @organization do |form| %>

    <div>
      <%= form.label "Name: " %>
      <%= form.text_field :name %><br>
    </div>
  
    <div>
      <%= form.label "Hourly Rate: $" %>
      <%= form.number_field :rate, :step => "0.01" %><br>
    </div>
  
  
    <div>
      <%= form.submit "Update" %>
    </div>
  <% end %>
  <%= link_to "Delete", @organization, data: {
    turbo_method: :delete,
  } %> <br>

  <p> 
<%= link_to "Back to Home", go_home_path %> 
</p> <br>