<h1>Adnat</h1>

Logged in as <%= @user.name %>

<%= link_to "Log Out", logout_path, method: "delete" %>  | 
<%= link_to "Settings", home_settings_path, method: "get" %> <br>

You aren't a member of any organisations. <br>

Join an existing one or create a new one. 

<h2>Organisations</h2>

<ul>
  <% @organizations.each do |org| %>
      <li>
        <%= org.name %>
        <%= link_to "Edit", edit_organization_path(@organizations, id: org.id), method: "get" %> 
        <%= link_to "Join", home_join_path(@organization, x: org.name), method: "get" %> <br>
      </li>
    
  <% end %>
</ul>

<h2>Create organisation</h2>

<%= form_with scope: :organization, url: home_new_organization_path do |form| %>
    <div>
      <%= form.label "Name: " %>
      <%= form.text_field :name %><br>
    </div>
  
    <div>
      <%= form.label "Hourly Rate: $" %>
      <%= form.number_field :rate, :step => "0.01" %><br>
    </div>
  
  
    <div>
      <%= form.submit "Create and Join" %>
    </div>
  <% end %>
